:root {
  --bg: #ececec;
  --reversal: #171010;
  --orange: #ffa621;
  --gray: #73888c;
}

html,
body {
  cursor: none;
}

.wrap-bg {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -1;
  background-color: var(--bg);
  top: 0;
  left: 0;
  right: 0;
}

.org {
  color: var(--orange) !important;
}

.font-en {
  font-family: "SaolDisplay-Regular";
  font-style: italic;
}
.font-en .char {
  font-style: italic;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding-top: 30px;
}
.header.top {
  padding-top: 50px;
}
.header .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header .inner h1 {
  font-size: 34px;
}
.header .inner h1 span {
  font-weight: 300;
}
.header button {
  position: relative;
  width: 51px;
  height: 51px;
  border-radius: 50%;
  border: 1px solid var(--reversal);
  margin-left: 10px;
}
.header button svg {
  width: 51px;
  height: 51px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.header button svg circle {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  stroke-linecap: butt;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
.header button:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.header button:hover svg circle {
  stroke-dashoffset: 0;
  stroke-dasharray: 400;
  stroke-width: 0.7;
}
.header button:hover div {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.header button div {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header button div span {
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: var(--reversal);
}
.header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: auto;
  position: relative;
}
.header nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px;
  font-size: 20px;
}
.header nav .border {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 2vw;
  border-radius: 2em;
  top: 50%;
  left: calc(var(--lastAnchorWidth) * var(--anchorIdx) + 3px * var(--anchorIdx));
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 1px solid transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
}
.header nav:hover .border {
  width: var(--anchorWidth);
  border-color: var(--reversal);
  opacity: 1;
}

.footer {
  position: relative;
  color: var(--gray);
}
.footer .footer-info {
  border-top: 1px solid var(--gray);
  padding-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 70px;
}
.footer .footer-info div {
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .footer-info div a {
  display: block;
  margin-left: 5px;
  position: relative;
  color: var(--gray);
  border-bottom: 1px solid rgba(255, 255, 227, 0.2);
}
.footer .footer-info div a::after {
  content: "";
  width: 0;
  height: 1px;
  background-color: var(--gray);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  bottom: 0;
  left: 0;
}
.footer .footer-info div a:hover::after {
  width: 100%;
}
.footer .footer-util svg path {
  fill: var(--gray);
}
.footer .box-carousel {
  height: 200px;
}
.footer .carousel-item {
  position: relative;
}
.footer .carousel-item p {
  white-space: nowrap;
  color: var(--bg);
  font-size: 12em;
  font-weight: 400;
  line-height: 1;
  text-shadow: -1px -1px 0 var(--reversal), 1px -1px 0 var(--reversal), -1px 1px 0 var(--reversal), 1px 1px 0 var(--reversal);
  padding: 0 30px;
}
.footer .carousel-item p.colored {
  -webkit-clip-path: circle(0% at 50% 50%);
          clip-path: circle(0% at 50% 50%);
  z-index: 1;
  color: var(--reversal);
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.footer .carousel-item:hover p.colored {
  -webkit-clip-path: circle(75% at 50% 50%);
          clip-path: circle(75% at 50% 50%);
}

.pointer {
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 0.6vw;
  height: 0.6vw;
  border-radius: 2em;
  z-index: 9999999;
  -webkit-transition: width 0.2s ease, height 0.2s ease;
  transition: width 0.2s ease, height 0.2s ease;
  mix-blend-mode: difference;
}

.pointer::before {
  content: "";
  position: absolute;
  border-radius: inherit;
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: #0059DE;
  border: 1px solid transparent;
}

.pointer.is-pointer {
  width: 2vw;
  height: 2vw;
}

.pointer.is-nav {
  pointer-events: pointer !important;
}

.splitting.split-anim .char {
  overflow: hidden;
  color: transparent;
}

.splitting.split-anim .word {
  line-height: 1;
}

.splitting.split-anim .char::after {
  font-family: "SaolDisplay-Regular";
  font-style: italic;
  font-weight: 500;
}

.splitting.split-anim .char::before, .splitting.split-anim .char::after {
  visibility: visible;
  color: var(--reversal);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.9, 0, 0.2, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.9, 0, 0.2, 1);
  transition: transform 0.5s cubic-bezier(0.9, 0, 0.2, 1);
  transition: transform 0.5s cubic-bezier(0.9, 0, 0.2, 1), -webkit-transform 0.5s cubic-bezier(0.9, 0, 0.2, 1);
  -webkit-transition-delay: calc(0.2s + 0.02s * (var(--char-index)));
  transition-delay: calc(0.2s + 0.02s * (var(--char-index)));
}

.splitting.split-anim .char::before {
  color: var(--reversal);
}

.splitting.split-anim:hover .char::after {
  -webkit-transition-delay: calc(0.2s + 0.02s * (var(--char-index)));
  transition-delay: calc(0.2s + 0.02s * (var(--char-index)));
}

.splitting.split-anim:hover .char::before {
  -webkit-transition-delay: calc(0.02s * (var(--char-index)));
  transition-delay: calc(0.02s * (var(--char-index)));
}

.splitting.split-anim .char::before {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

.splitting.split-anim .char::after {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.splitting.split-anim:hover .char::before {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.splitting.split-anim:hover .char::after {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}