.main-intro {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  background-color: var(--bg);
}
.main-intro .main-tit {
  font-size: 180px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 70px;
  line-height: 1;
}
.main-intro .main-intro__bg {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: var(--reversal);
  -webkit-animation: loadBg 2.5s 0.5s linear both;
          animation: loadBg 2.5s 0.5s linear both;
}

@-webkit-keyframes loadBg {
  to {
    width: 0;
  }
}

@keyframes loadBg {
  to {
    width: 0;
  }
}
.blur-it .word {
  line-height: 1;
}
.blur-it .char {
  -webkit-transition: opacity 0.2s linear, color 0.5s linear;
  transition: opacity 0.2s linear, color 0.5s linear;
  line-height: 1;
}
.blur-it .char::before, .blur-it .char::after {
  content: "";
  visibility: visible;
  opacity: 0;
}
.blur-it.active .char {
  color: transparent;
  -webkit-text-stroke: 1px rgba(23, 16, 16, 0.6);
}
.blur-it.active .char::before, .blur-it.active .char::after {
  opacity: 0.8;
  -webkit-animation: blur 0.6s linear infinite alternate, blurOpacity 2.5s linear;
          animation: blur 0.6s linear infinite alternate, blurOpacity 2.5s linear;
  -webkit-animation-delay: calc(-0.2s * var(--distance-percent));
          animation-delay: calc(-0.2s * var(--distance-percent));
}
.blur-it.active .char::after {
  -webkit-animation-delay: calc(0.3s + -0.2s * var(--distance-percent));
          animation-delay: calc(0.3s + -0.2s * var(--distance-percent));
}

@-webkit-keyframes blur {
  0% {
    -webkit-transform: translate(-0.1em, 0) scale(0.9) rotate(-2deg);
            transform: translate(-0.1em, 0) scale(0.9) rotate(-2deg);
  }
  50% {
    -webkit-transform: translate(0, 0) scale(1.1) rotate(0deg);
            transform: translate(0, 0) scale(1.1) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(0.1em, 0) scale(0.9) rotate(2deg);
            transform: translate(0.1em, 0) scale(0.9) rotate(2deg);
  }
}

@keyframes blur {
  0% {
    -webkit-transform: translate(-0.1em, 0) scale(0.9) rotate(-2deg);
            transform: translate(-0.1em, 0) scale(0.9) rotate(-2deg);
  }
  50% {
    -webkit-transform: translate(0, 0) scale(1.1) rotate(0deg);
            transform: translate(0, 0) scale(1.1) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(0.1em, 0) scale(0.9) rotate(2deg);
            transform: translate(0.1em, 0) scale(0.9) rotate(2deg);
  }
}
@-webkit-keyframes blurOpacity {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 0;
  }
}
@keyframes blurOpacity {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 0;
  }
}
.main-about {
  height: 100vh;
}

.load-anim .word {
  line-height: 1;
}
.load-anim .char {
  line-height: 1;
  color: transparent;
  overflow: hidden;
}
.load-anim .char::after {
  visibility: visible !important;
  color: var(--bg);
  mix-blend-mode: difference;
}
.load-anim.active .char::after {
  -webkit-transform: translateX(-101%);
          transform: translateX(-101%);
  -webkit-animation: typoAnim 2.5s ease both;
          animation: typoAnim 2.5s ease both;
}

@-webkit-keyframes typoAnim {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes typoAnim {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.main-intro__desc {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: var(--orange);
  z-index: 2;
  mask-mode: alpha;
  -webkit-mask-image: url("/assets/images/mask.png");
          mask-image: url("/assets/images/mask.png");
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-size: 0%;
          mask-size: 0%;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

.desc-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--orange);
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  mask-mode: alpha;
  -webkit-mask-image: url("/assets/images/line.png");
          mask-image: url("/assets/images/line.png");
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-size: 0%;
          mask-size: 0%;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

.main-intro__desc p {
  text-align: center;
  color: var(--reversal);
  font-size: 86px;
  font-weight: 700;
  line-height: 1.6em;
  letter-spacing: -0.05em;
  position: relative;
}

.main-intro .lines span {
  background-image: url("/assets/images/line.png");
  display: block;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 0%;
  left: 0%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 1920px;
  height: 1080px;
  z-index: 1;
  scale: 0;
  mix-blend-mode: difference;
}

.desc-list {
  position: relative;
}
.desc-list li {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.8) rotateY(180deg);
          transform: translate(-50%, -50%) scale(0.8) rotateY(180deg);
  visibility: hidden;
  opacity: 0;
  white-space: nowrap;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}