:root {
  --bg: #ececec;
  --reversal: #171010;
  --orange: #ffa621;
  --gray: #73888c;
  cursor: none;
}
.letter-s01 {
  letter-spacing: -0.025em;
}
.wrap-bg {
  height: 100vh;
  width: 100%;
  position: fixed;
  background-color: var(--bg);
  top: 0;
  left: 0;
  right: 0;
}
.org {
  color: var(--orange) !important;
}
.font-en {
  font-family: 'Cormorant';
  font-style: italic;
  .char {
    font-style: italic;
  }
}
@keyframes headerDown {
  from {
    top: -100%;
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  transition: all 0.5s ease;
  padding-top: 30px;
  animation: headerDown .8s 3s ease both;
  &.top {
    padding-top: 50px;
  }
  .inner {
    display: flex;
    align-items: center;
    transition: all 0.5s ease;
    h1 {
      font-size: 34px;
      span {
        font-weight: 300;
        
      }
    }
  }
  button {
    position: relative;
    width: 51px;
    height: 51px;
    border-radius: 50%;
    border: 1px solid var(--reversal);
    margin-left: 10px;
    svg {
      width: 51px;
      height: 51px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1;
      circle {
        stroke-dasharray: 400;
        stroke-dashoffset: 400;
        stroke-linecap: butt;
        -webkit-transition: all 1s ease-out;
        -moz-transition: all 1s ease-out;
        -ms-transition: all 1s ease-out;
        -o-transition: all 1s ease-out;
        transition: all 1s ease-out;
      }
    }
    &:hover {
      transform: rotate(180deg);
      svg {
        circle {
          stroke-dashoffset: 0;
          stroke-dasharray: 400;
          stroke-width: 0.7;
        }
      }
      div {
        transform: rotate(180deg);
      }
    }
    div {
      width: 100%;
      height: 100%;
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: center;
      transition: all 0.3s .3s ease;
      span {
        display: block;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: var(--reversal);
      }
    }
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    position: relative;
    a {
      display: flex;
      padding: 0 20px;
      font-size: 20px;
      cursor: pointer;
    }
    .border {
      position: absolute;
      z-index: -1;
      width: 0;
      height: 2vw;
      border-radius: 2em;
      top: 50%;
      left: var(--anchorLeft);
      transform: translateY(-50%);
      border: 1px solid transparent;
      transition: all 0.3s 0.2s ease;
      opacity: 0;
    }
    &:hover {
      .border {
        width: var(--anchorWidth);
        border-color: var(--reversal);
        opacity: 1;
      }
    }
  }
}
.footer {
  position: relative;
  color: var(--gray);
  .footer-info {
    border-top: 1px solid var(--gray);
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 70px;
    div {
      font-size: 15px;
      display: flex;
      a {
        display: block;
        margin-left: 5px;
        position: relative;
        color: var(--gray);
        border-bottom: 1px solid rgba(255, 255, 227, 0.2);
        &::after {
          content: '';
          width: 0;
          height: 1px;
          background-color: var(--gray);
          transition: all 0.3s ease;
          position: absolute;
          bottom: 0;
          left: 0;
        }
        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
  .footer-util {
    svg {
      path {
        fill: var(--gray);
      }
    }
  }
  .box-carousel {
    height: 200px;
  }
  .carousel-item {
    position: relative;
    p {
      white-space: nowrap;
      color: var(--bg);
      font-size: 12em;
      font-weight: 400;
      line-height: 1;
      text-shadow: -1px -1px 0 var(--reversal), 1px -1px 0 var(--reversal), -1px 1px 0 var(--reversal),
        1px 1px 0 var(--reversal);
      padding: 0 30px;
      &.colored {
        clip-path: circle(0% at 50% 50%);
        z-index: 1;
        color: var(--reversal);
        position: absolute;
        top: 0%;
        bottom: auto;
        left: 0%;
        right: auto;
        transition: all 0.5s ease;
      }
    }
    &:hover {
      p {
        &.colored {
          clip-path: circle(75% at 50% 50%);
        }
      }
    }
  }
}
.pointer {
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 0.6vw;
  height: 0.6vw;
  border-radius: 2em;
  z-index: 9999999;
  transition: width 0.2s ease, height 0.2s ease;
  mix-blend-mode: difference;
}
.pointer::before {
  content: '';
  position: absolute;
  border-radius: inherit;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: #0059de;
}
.pointer.is-pointer,
.pointer.is-nav {
  width: 2vw;
  height: 2vw;
}
.pointer.is-nav::before {
  animation: navCursor 1s ease both;
}
@keyframes navCursor {
  10% {
    background-color: transparent;
    border: 1px solid var(--reversal);
  }
  40% {
    width: 4vw;
  }
  100% {
    background-color: transparent;
  }
}

.splitting.split-anim .char {
  overflow: hidden;
  color: transparent;
}
.splitting.split-anim .char:last-child {
  padding-left: 6px;
}
.splitting.split-anim .word {
  line-height: 1;
}
.splitting.split-anim .char::after {
  font-family: 'Cormorant';
  font-style: italic;
  font-weight: 500;
}
.splitting.split-anim .char::before,
.splitting.split-anim .char::after {
  visibility: visible;
  color: var(--reversal);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.9, 0, 0.2, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.9, 0, 0.2, 1);
  transition: transform 0.5s cubic-bezier(0.9, 0, 0.2, 1);
  transition: transform 0.5s cubic-bezier(0.9, 0, 0.2, 1), -webkit-transform 0.5s cubic-bezier(0.9, 0, 0.2, 1);
  -webkit-transition-delay: calc(0.2s + 0.02s * (var(--char-index)));
  transition-delay: calc(0.2s + 0.02s * (var(--char-index)));
}

.splitting.split-anim .char::before {
  color: var(--reversal);
}

.splitting.split-anim:hover .char::after {
  -webkit-transition-delay: calc(0.2s + 0.02s * (var(--char-index)));
  transition-delay: calc(0.2s + 0.02s * (var(--char-index)));
}

.splitting.split-anim:hover .char::before {
  -webkit-transition-delay: calc(0.02s * (var(--char-index)));
  transition-delay: calc(0.02s * (var(--char-index)));
}

.splitting.split-anim .char::before {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

.splitting.split-anim .char::after {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.splitting.split-anim:hover .char::before {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.splitting.split-anim:hover .char::after {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}
