.main-intro {
  height: 100vh;
  display: flex;
  align-items: flex-end;
  .main-tit {
    font-size: 8vw;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 70px;
    line-height: 1;
  }
}
.blur-it {
  .word {
    line-height: 1;
  }
  .char {
    transition: opacity 0.2s linear, color 0.5s linear;
    line-height: 1;
    &::before,
    &::after {
      content: "";
      visibility: visible;
      opacity: 0;
    }
  }
  &.active {
    .char {
      color: transparent;
    -webkit-text-stroke: 1px rgba(23, 16, 16, .6);
      &::before,
      &::after {
        opacity: 0.8;
        animation: blur 0.6s linear infinite alternate, blurOpacity 2.5s linear;
        animation-delay: calc( -0.2s * var(--distance-percent) );
      }

      &::after {
        animation-delay: calc( 0.3s + (-0.2s * var(--distance-percent)) );
      }
    }
  }
}
@keyframes blur {
  0% { transform: translate(-0.1em, 0) scale(0.9) rotate(-2deg); }
  50% { transform: translate(0,0) scale(1.1) rotate(0deg); }
  100% { transform: translate(0.1em, 0) scale(0.9) rotate(2deg); }
}
@keyframes blurOpacity {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 0;
  }
}

.main-about {
  height: 100vh;
}